    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#"> Overview </a></li>
            <li><a ui-sref="users"> Users </a></li>
            <li><a ui-sref="videos"> Videos </a></li>
            <li><a ui-sref="#"> Events </a></li>
            <li><a ui-sref="live"> Watch Live </a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#"> Current <span class="sr-only">(current)</span>{{user.name}}</a></li>
            <li><a href="#" ng-repeat="user in user.users">{{user.name}}</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Videos, {{currentUser.name}}</h1>

        <div class="pull-left">
            <h1>Upload Management</h1>
        </div>
        <div class="pull-right" style="padding-top:30px">
            <div class="box-tools" style="display:inline-table">
              <div class="input-group">
                  <input type="text" class="form-control input-sm ng-valid ng-dirty" placeholder="Search" ng-change="searchDB()" ng-model="searchText" name="table_search" title="" tooltip="" data-original-title="Min character length is 3">
                  <span class="input-group-addon">Search</span>
              </div>
            </div>
            <button class="btn btn-success" data-toggle="modal" data-target="#create-user">Create New</button>
        </div>

        <table class="table table-bordered pagin-table">
        <thead>
            <tr>
                <th>No</th>
                <th>Title</th>
                <th>Source</th>
                <th width="220px">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr dir-paginate="value in data | itemsPerPage:5" total-items="totalItems">
                <td>{{ $index + 1 }}</td>
                <td>{{ value.name }}</td>
                <td>{{ value.description }}</td>
                <td>
                <button data-toggle="modal" ng-click="edit(value.id)" data-target="#edit-data" class="btn btn-primary">Edit</button>
                <button ng-click="remove(value,$index)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <dir-pagination-controls class="pull-right" on-page-change="pageChanged(newPageNumber)" template-url="templates/dirPagination.html" ></dir-pagination-controls>
    <!-- Create Modal -->
    <div class="modal fade" id="create-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="POST" name="addItem" role="form" ng-submit="saveAdd()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create Video</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <strong>Name : </strong>
                                <div class="form-group">
                                    <input ng-model="form.name" type="text" placeholder="Product name" name="name" class="form-control" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <strong>Description : </strong>
                                <div class="form-group">
                                    <input ng-model="form.description" type="textarea" placeholder="Description" name="description" class="form-control" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <strong>Price : </strong>
                                <div class="form-group">
                                    <input ng-model="form.price" type="text" placeholder="Product price" name="price" class="form-control" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <strong>Image URL : </strong>
                                <div class="form-group">
                                    <input ng-model="form.imageurl" type="text" placeholder="Image URL" name="imageurl" class="form-control" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <strong>Image URL : </strong>
                                <div class="form-group">
                                    <input ng-model="form.myFile" type="file" name="myFile" class="form-control" required />
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <!-- Edit Modal -->
    <div class="modal fade" id="edit-data" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="POST" name="editItem" role="form" ng-submit="saveEdit()">
                    <input ng-model="form.id" type="hidden" placeholder="Name" name="name" class="form-control" />
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Video</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                   <input ng-model="form.title" type="text" placeholder="Name" name="title" class="form-control" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                   <textarea ng-model="form.src" class="form-control" required>
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" ng-disabled="editItem.$invalid" class="btn btn-primary create-crud">Submit</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>


          <h2 class="sub-header">Section title</h2>
            <div ui-view> </div>
          <div class="table-responsive">

          </div>

        </div>
      </div>
    </div>
